<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="/css/styles.css">
		<title>Users</title>
	</head>
	<body>
		<div class="page">
			<nav>
				<a href="/users">Home</a>
				<a href="/register">Register</a>
			</nav>

			<h1>Users</h1>

			<div th:if="${#lists.size(users) == 1}">
				<form th:action="@{/users/{userId}(userId=${user.userId})}" th:object="${user}" method="post" class="form">
					<div>
						<label for="username">Username:</label>
						<input id="username" type="text" th:field="*{username}" />
					</div>

					<div>
						<label for="password">Password:</label>
						<input id="password" type="password" th:value="*{password}" />
					</div>

					<div>
						<label for="name">Full Name:</label>
						<input id="name" type="text" th:field="*{name}" />
					</div>

					<hr/>

					<div>
						<label for="addressLine1">Address Line 1:</label>
						<input id="addressLine1" type="text" th:field="*{address.addressLine1}" />
					</div>

					<div>
						<label for="addressLine2">Address Line 2:</label>
						<input id="addressLine2" type="text" th:field="*{address.addressLine2}" />
					</div>

					<div>
						<label for="city">City:</label>
						<input id="city" type="text" th:field="*{address.city}" />
					</div>

					<div>
						<label for="region">Region:</label>
						<input id="region" type="text" th:field="*{address.region}" />
					</div>

					<div>
						<label for="country">Country:</label>
						<input id="country" type="text" th:field="*{address.country}" />
					</div>

					<div>
						<label for="zipCode">Zip Code:</label>
						<input id="zipCode" type="text" th:field="*{address.zipCode}" />
					</div>

					<input type="submit" value="Update User Account" class="form_button" />
				</form>

				<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
					<input type="submit" value="Delete User Account" class="form_button" />
				</form>

				<hr/>

				<h2>Accounts</h2>

				<section th:if="${#lists.size(user.accounts) > 0}">
					<div th:each="account, iterator : ${user.accounts}">
						<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">
							<span th:text="${account.accountName}">...</span>
						</a>
					</div>
				</section>

				<form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="post">
					<input type="submit" value="Create New Bank Account" />
				</form>

				<p><a href="/users">Back</a></p>
			</div>

			<div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}" class="page__list">
				<a th:href="@{/users/{userId}(userId=${user.userId})}">
					<span th:text="${user.userId}"></span>
				</a><br/>
				<span th:text="${user.username}"></span><br/>
				<span th:text="${user.name}"></span><br/>
				<span th:text="${user.password}"></span>
				<div th:each="account : ${user.accounts}">
					<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">
						<span th:text="${account.accountName}">...</span>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
